<!DOCTYPE html>
<html>
    <head>
        <title>IOError</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    </head>
    <body>
    {% if message %}
        <h1>Invalid URL</h1>
        <h3>
            The URL entered is not valid, for conducting image augmentation on.<br>
            Please check your URL.
        </h3>
        <p>
            Error: {{ message }}
        </p>
    {% endif %}
    </body>
</html>